body {
	font: 16px 'Montserrat',Arial,sans-serif;
	min-width: 320px;
	font-weight: normal;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}
p {
	margin: 0;
	color: #4b4b4b;
	font-weight: 300;
	line-height: 1.55;
}
.mfp-counter {
	display: none;
}
.mfp-close-btn-in .mfp-close {
	color: #fff!important;
}
.politics .mfp-close-btn-in .mfp-close {
	color: #333!important;
}
.next, .prev {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 300;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	border-radius: 50%;
	background-color: #6a56f1;
}
.next img, .prev img {
	height: 32px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.prev img {
	transform: rotate(180deg);
}
.next:hover, .prev:hover {
	background-color: #e5c65c;
}
.slider-wrapper {
	position: relative;
}
.slider-wrapper:after, .slider:after {
	content: "";
	display: table;
	clear: both;
}
.relative {
	position: relative;
}
button {
	border: none;
	background: none;
}
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, div, div:focus textarea, textarea:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.politics {
	background-color: #fff;
}
.politics p {
	font-size: 18px;
	color: #000;
}
.politics_text {
	padding: 20px 15px;
}
.politics_text h6 {
	color: #000;
    font-size: 20px;
    line-height: 1.55;
	font-weight: bold;
}
.politics h3 {
	background: #1782ab;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	margin: 0;
}
@media only screen and (max-width : 767px) {
	.politics h3 {
		font-size: 23px;
	}
}
section {
	padding: 80px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
}
section h6 {
	font-weight: bold;
	font-size: 24px;
}
section h4 {
	margin: 0 0 25px;
	color: #4b4b4b;
    font-size: 2.4rem;
    line-height: 1.55;
    font-weight: bold;
}
section h5 {
	margin: 0 0 25px;
	color: #000;
    font-size: 2.4rem;
    line-height: 1.55;
    font-weight: 600;
}
section h3 {
	font-size: 3rem;
	line-height: 1.55;
	text-align: left;
	font-weight: bold;
	text-align: center;
	margin: 0 0 45px;
	color: #4b4b4b;
}
ul {
	list-style-type: none;
	padding: 0;
}
.thanks_body {
	background-image: -webkit-linear-gradient(to right, #fdddf2, #c3e1f3);
	background-image: -moz-linear-gradient(to right, #fdddf2, #c3e1f3);
	background-image: -ms-linear-gradient(to right, #fdddf2, #c3e1f3);
	background-image: linear-gradient(to right, #fdddf2, #c3e1f3);
	background-repeat: no-repeat;
	background-position-x: center;
	margin: 0;
	height: 100%;
	color: #fff;
	display: table;
	width: 100%;
	text-align: center;
}
.thanks_body h4 {
	font-size: 36px;
	margin-top: 0;
}
.thanks_body p {
	font-size: 24px;
	margin-bottom: 0;
}
.thanks_page {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
}
.thanks_page h4 {
	font-size: 48px;
	font-weight: bold;
	color:#000;
	line-height:normal;
	margin-bottom: 30px;
}
.thanks_page p {
	font-size: 24px;
	color: #000;
	line-height: 34px;
}
@media only screen and (max-width : 767px) {
	.thanks_page h4 {
		font-size: 36px;
	}
	.thanks_page p {
		font-size: 20px;
	}
}
footer {
	padding-bottom: 20px;
	background-color: #1a1734;
	position: relative;
	z-index: 1;
}
footer .logo-knb {
	max-width: 160px;
}
footer p {
	color: #fff;
	font-size: 18px;
}
footer span {
	text-decoration: underline;
	color: #2897e5;
	display: block;
	font-size: 18px;
}
footer .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.footer_logo {
	max-width: 100%;
}
.made_by p {
	margin-bottom: 10px;
}
footer span {
	text-decoration: none;
	color: #ff8562;
	margin-bottom: 10px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
}
.made_by {
	text-align: right;
	padding-top: 20px;
}
.btn-main {
	text-transform: uppercase;
	position: relative;
    color: #fff;
    -webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	transition: 500ms ease all;
    overflow: hidden;
    background-image: linear-gradient( 0deg, rgb(76,53,227) 0%, rgb(115,96,242) 100%);
    box-shadow: 0px 2px 8px 0px rgb(10 35 68 / 0%);
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 15px;
	height: 66px;
	display: block;
	width: 100%;
	max-width: 370px;
	line-height: 66px;
	text-align: center;
}
.btn-main.btn-big {
	max-width: 503px;
}
.btn-main span {
	position: relative;
	z-index: 2;
}
.btn-main:before {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( 90deg, rgb(73,1,237) 0%, rgb(229,198,92) 100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.btn-main:hover {
	color: #fff;
	-webkit-box-shadow: 0 0 0 rgb(0 0 0 / 50%);
    box-shadow: 0 0 0 rgb(0 0 0 / 50%);
    color: white;
    border: none;
}
.btn-main:hover:before {
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.btn-main:focus {
	color: #fff;
}
.btn-revert:before {
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.btn-revert:hover:before {
	-webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.form {
	text-align: center;
}
.form_wrapper {
	margin: auto;
	position: relative;
	background-color: #6552e5;
	text-align: center;
	width: 100%;
	max-width: 450px;
	padding: 40px 45px;
}
.form_wrapper h6 {
	color: #fff;
	font-weight: bold;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.23;
	margin: 0;
	margin-bottom: 10px;
}
.form_wrapper p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}
label.error {
	color: red;
}
#h-48-form label.error,
#specialForm label.error {
	display: none!important;
}
#h-48-form input.error,
#specialForm input.error {
	border: 2px solid red!important;
}
.form input::-webkit-input-placeholder {
	font-size: 16px;
	color: #000;
}
.form input::-moz-placeholder {
	font-size: 16px;
	color: #000;
}
.form input:-ms-input-placeholder {
	font-size: 16px;
	color: #000;
}
.form input:-moz-placeholder {
	font-size: 16px;
	color: #000;
}
.form textarea::-webkit-input-placeholder {
	font-size: 16px;
	color: #000;
}
.form textarea::-moz-placeholder {
	font-size: 16px;
	color: #000;
}
.form textarea:-ms-input-placeholder {
	font-size: 16px;
	color: #000;
}
.form textarea:-moz-placeholder {
	font-size: 16px;
	color: #000;
}
.form input, .form textarea {
	width: 100%;
	max-width: 370px;
	margin-top: 20px;
	color: #000;
	border: 0;
	text-align: center;
	height: 60px;
	font-size: 16px;
	border-radius: 3px;
}
.form textarea {
	padding-top: 20px;
	height: 120px;
	resize: none;
}
.form button {
	width: 100%;
	margin-top: 20px;
	max-width: 370px;
}
header {
	padding-top: 12px;
	height: 88px;
	background-color: #000;
	position: relative;
}
header .top_head {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.lang {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid #fff;
    border-radius: 5px;
	color: #fff;
    font-size: 12px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	transition: all 0.25s ease;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}
.lang:hover {
	background-color: #fff;
    color: #000;
}
.lang:focus {
    color: #fff;
}
.logo img {
	width: 100%;
	max-width: 100px;
}
.lang:focus:hover {
	color: #000;
}
h1 {
	font-size: 4.8rem;
	color: #fff;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}
h2 {
	font-size: 2.8rem;
	color: #fff;
	font-weight: normal;
	margin: 0 0 10px 0;
}

.trigger li {
	position: relative;
	font-size: 2.8rem;
	color: #fff;
	margin-bottom: 15px;
}
.trigger li:last-of-type {
	margin-bottom: 0;
}
main {
	display: block;
	position: relative;
	background-color: #000;
	padding-bottom: 100px;
	overflow: hidden;
}
main iframe {
	position: absolute;
	width: 100%!important;
	top: 0;
	left: 0;
	bottom: 0;
}
main .main {
	position: relative;
	z-index: 2;
	padding: 25px 0;
}
main .main-filter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: -webkit-linear-gradient(right, transparent, rgba(141, 86, 174, 0.5), transparent);
	background-image: linear-gradient(to right, transparent, rgba(141, 86, 174, 0.549), transparent);
}
main .main h2,
main .main h1,
main .main .trigger {
	position: relative;
	z-index: 2;
}
main .main-btns {
	position: relative;
	z-index: 2;
	margin-top: 30px;
}
main .main-btns .btn-revert {
	margin-top: 12px;
}
.opt img {
	width: 100%;
	margin-bottom: 40px;
}
.carousel h5 {
	text-align: center;
}
.carousel .next {
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.carousel .prev {
	left: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.carousel .slider-buttons .btn-main {
	margin: 20px auto;
}
.h-48 {
	background-image: url('../img/48.jpg');
	height: 520px;
	background-position: -webkit-calc(50% + 92px) top;
	background-position: -moz-calc(50% + 92px) top;
	background-position: -ms-calc(50% + 92px) top;
	background-position: calc(50% + 92px) top;
}
.h-48 h3 {
	text-align: left;
	color: #fff;
    font-size: 4.5rem;
    line-height: 1.3;
    font-weight: bold;
	margin-top: 25px;
}
.h-48 p {
	line-height: 32px;
	font-size: 22px;
	color: #fff;
}
.h-48 .form {
	text-align: left;
	margin-top: 45px;
}
.h-48 .form input {
	max-width: 170px;
	width: 100%;
	margin: 0 28px 0 0;
}
.h-48 .form button {
	width: 100%;
	max-width: 370px;
	display: inline-block;
	margin: 0;
}
.video {
	position: relative;
}
.video .video_wrapper {
	margin: 0 auto;
	max-width: 970px;
	position: relative;
}
.video iframe {
	height: 500px;
	width: 100%;
	background-image: url('../img/poster-video.jpeg');
	display: block;
}
.video img {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	max-width: 100%;
	height: 500px;
}
.video svg {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 70px;
	height: 70px;
	z-index: 2;
}
.contact {
	padding-bottom: 260px;
}
.contact img {
	position: absolute;
	bottom: -30px;
	margin-left: 200px;
	max-width: 100%;
}
.contact h3 {
	text-align: left;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 1.25;
}
.contact .left p {
	font-size: 18px;
	color: #4b4b4b;
	line-height: 1.55;
    font-weight: bold;
}
.contact .left p.email {
	color: #ff8562;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.55;
	margin-top: 10px;
}
.contact .right h5 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #4b4b4b;
}
.contact .btn-main {
	margin-top: 25px;
}
.prom .row,
.cert .row,
.service .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.prom p,
.cert p,
.service p {
	font-weight: 500;
}
.prom .btn-main {
	margin-top: 50px;
}
.cert img,
.prom img,
.service img {
	max-width: 100%;
}
.cert p,
.prom p,
.service p {
	margin-top: 30px;
}
.service .btn-main {
	margin-top: 30px;
}
.service .row {
	margin-bottom: 70px;
}
.service .row:last-of-type {
	margin-bottom: 0;
}
.review {
	background-color: #f1efff;
	text-align: center;
}
.review:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 397px;
	background-image: url('../img/review-bg.jpg');
	width: 100%;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.review p {
	line-height: 26px;
}
.review h6 {
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px;
}
.review .col-sm-6 img {
	max-width: 100%;
	width: 240px;
	height: 240px;
	object-fit: cover;
	margin: 0 auto 45px;
}
.dot {
	background-color: #cecece;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: relative;
	z-index: 10;
}
.slick-active .dot {
	background: #6a56f1;
}
.slick-active .dot:before {
	position: absolute;
	content: "";
	border-radius: 50%;
	width: 12px;
	height: 12px;
	border: 1px solid #6a56f1;
	top: -2px;
	left: -2px;
}
.review .slider-wrapper {
	padding-bottom: 30px;
}
.review .slider-wrapper:before {
	content: "«";
	position: absolute;
	left: -15px;
	top: 0;
	font-size: 400px;
	color: #fff;
	font-weight: 900;
	line-height: 0;
}
.review .slider-rev {
	z-index: 2;
}
.review .slider-wrapper:after {
	content: "»";
	position: absolute;
	right: -15px;
	bottom: 150px;
	font-size: 400px;
	color: #fff;
	font-weight: 900;
	line-height: 0;
}
.review .prev {
	bottom: -29px;
	left: 35%;
}
.review .next {
	bottom: -29px;
	right: 35%;
}
.special {
	background-image: url('../img/special-bg.jpeg');
	background-size: 100% 560px;
	margin: 200px 0 120px;
}
.special h3 {
	text-align: left;
    color: #fff;
    font-size: 4.5rem;
    line-height: 1.3;
    font-weight: bold;
    margin-top: 25px;
	max-width: 500px;
}
.special p {
	line-height: 32px;
    font-size: 22px;
    color: #fff;
}
.special .form {
    text-align: left;
    margin-top: 45px;
}
.special .form input {
    max-width: 170px;
    width: 100%;
    margin: 0 28px 0 0;
}
.special .form button {
    width: 100%;
    max-width: 370px;
    display: inline-block;
    margin: 0;
}
.special .special-pict {
	position: absolute;
	top: -142px;
	max-width: 100%;
	width: 100%;
	height: 854px;
	overflow: hidden;
	background-image: url('../img/special-girl.png');
	background-repeat: no-repeat;
	background-position: 100% top;
}
.special p {
	max-width: 250px;
}
.special .special-content {
	position: relative;
	z-index: 2;
}